<!DOCTYPE html>
<html>

<head>
    <title>
        Welcome to this decent website.
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.js"></script>

    <link rel="stylesheet" type="text/css" href="../public/stylesheets/index.css">
</head>

<body ng-app="myApp">
    <ng-view></ng-view>
</body>
<script>
    var app = angular.module('myApp', ['ngRoute']);

    app.config(function ($routeProvider) {
        $routeProvider
            .when('/', {
                templateUrl: '/public/login.html',
                controller: 'loginCtrl'
            })
            .when('/student', {
                templateUrl: '/public/student.html'
            })
            .when('/teacher', {
                templateUrl: '/public/teacher.html',
                controller: 'teacherCtrl'
            });
    });

    app.controller('loginCtrl', function ($scope, $http, $location) {
        $scope.type = 'teacher';
        $scope.submit = function () {
            var url = '/t/log';
            var body = {
                'user': $scope.user,
                'pass': $scope.pass
            };
            $http.post(url, body).then(
                (done) => {
                    if (done.data === 'ok') {
                        $location.url('/teacher');
                    }
                },
                (err) => console.log('error'));
        }
    });

    app.controller('teacherCtrl', function($scope, $http, $location, $filter, $compile){
        $scope.tests = $scope.groups = $scope.students = [];
        $scope.showTests = $scope.showGroups = $scope.showStudents = false;
        $scope.showTest = $scope.showGroup = $scope.showStudent = $scope.createGroup = $scope.createTest = false;
        $scope.newGroup = [];
        $scope.newTest = {"num":"", "ques":[], "maxGr":0, "at":""};
        $scope.currGrp = $scope.currTest = {};
        $scope.timeNow = $filter('date')(new Date(), 'dd/MM/yyyy HH:mm:ss');
                                                /* GENERAL */
        $scope.suppressViews = function(){
            $scope.showTests = $scope.showGroups = $scope.showStudents = false;
            $scope.showTest = $scope.showGroup = $scope.showStudent = $scope.createGroup = $scope.createTest = false;
            $scope.newGroup = [];
            $scope.currGrp = $scope.currTest = {};
        }

                                                /* TESTS */
        /* Get Tests From The Server */
        $scope.getTests = function(){
            var url = '/t/getTests';
            $http.get(url).then(
                (done) => {
                    $scope.suppressViews();
                    $scope.tests = done.data;
                    $scope.showTests = true;
                },
                (err) => console.log('error retreiving tests.')
            )
        }

        /* Remove Test */
        $scope.rmvTest = function($btnData){
            var url = '/t/rmv/tst';
            var body = {'test':$btnData.srcElement.id};
            
            $http.post(url, body).then(
                (done) => {
                    $scope.tests = done.data;
                    $scope.suppressViews();
                    $scope.showTests = true;
                },
                (err) => console.log('error deleting test.')
            );            
        }

        /* Create Test */
        $scope.crtTest = function(){
            var url = '/t/createTest';
            $scope.newTest.ques.forEach((question, ind) => {
                $scope.newTest.ques[ind].choices = question.choices.split(',');
            });
            $scope.newTest.at = Date.now();
            var body = $scope.newTest;
            $http.post(url, body).then(
                (done) => {
                    $scope.suppressViews();
                    $scope.testRestoreDef();
                    $scope.getTests();
                },
                (err) => console.log('error creating test.')
            )
        }

        /* Restores The Defaults After Creating A Test */
        $scope.testRestoreDef = function(){
            $scope.newTest = {"num":"", "ques":[], "maxGr":0, "at":""};
            var parentTable = (angular.element(document.getElementById('createTestQues')))[0];
            while(parentTable.childNodes.length > 2){
                var lastRec = parentTable.lastChild;
                parentTable.removeChild(lastRec);
            }

        }

        /* Add New Question To Test */
        $scope.addQue = function(){
            var table = (angular.element(document.getElementById('createTestQues')));
            var quesNum = $scope.newTest.ques.length;
            var newQues = ` <tr>\
                                <td><input ng-model='newTest.ques[${quesNum}].question'/></td>\
                                <td><input ng-model='newTest.ques[${quesNum}].choices'/></td>\
                                <td><input ng-model='newTest.ques[${quesNum}].ans'/></td>\
                                <td><input type='number' ng-model='newTest.ques[${quesNum}].marks' ng-change='updateTotMarks();'/></td>\
                            </tr>`;
            table.append(newQues);
            $compile(table)($scope);
        }

        /* Update The Total Marks When Creating A Test */
        $scope.updateTotMarks = function(){
            var oldMaxGr = $scope.newTest.maxGr;
            $scope.newTest.ques.forEach(q => $scope.newTest.maxGr += q.marks);
            $scope.newTest.maxGr -= oldMaxGr;
        }
        
        /* Show A Single Test */
        $scope.getTest = function($testData){
            var testNum = $testData.srcElement.value;
            var url = 't/test/' + testNum;
            
            $http.get(url).then(
                (done) => {
                    $scope.suppressViews();
                    $scope.currTest = done.data;
                    $scope.showTests = $scope.showTest = true;
                },
                (err) => console.log('error retreiving tests.')
            )
        }        
                                                /* STUDENTS */
        /* Get Students From The Server */
        $scope.getStudents = function(){
            var url = '/t/getStudents';
            $http.get(url).then(
                (done) => {
                    $scope.suppressViews();
                    $scope.students = done.data;
                    $scope.showStudents = true;
                },
                (err) => console.log('error retreiving students.')
            )
        }
    
                                                /* GROUPS */
        /* Get Groups From The Server */
        $scope.getGroups = function(){
            var url = '/t/getGroups';
            $http.get(url).then(
                (done) => {
                    $scope.suppressViews();
                    $scope.groups = done.data;
                    $scope.showGroups = true;
                },
                (err) => console.log('error retreiving groups.')
            )
        }

        /* Remove Group */
        $scope.rmvGrp = function($btnData){
            var url = '/t/rmv/grp';
            var body = {'grp':$btnData.srcElement.id};
            
            $http.post(url, body).then(
                (done) => {
                    $scope.groups = done.data;
                },
                (err) => console.log('error deleting group.')
            );
        }

        /* Create Group */
        $scope.crtGrp = function(){
            var url = '/t/crt/grp';
            var body = {'stds':$scope.newGroup, 'grpName':$scope.grpName, 'stuNum':$scope.newGroup.length, 'at':Date.now()};
            var duplicated = false;

            $scope.suppressViews();
            $scope.showGroups = true;
            $scope.createGroup = true;
            
            if(body.stuNum && body.grpName){
                $scope.groups.forEach(group => {
                    if(group.grpName.toLowerCase() === body.grpName.toLowerCase()){ //Detects if the group name is duplicated
                        duplicated = true;
                    }
                });
                if(!duplicated){
                    $http.post(url, body).then(
                        (done) => {
                            console.log('Group created.' + $scope.grpName);
                            $scope.groupRestoreDef();
                    },
                        (err) => console.log('error creating group.')
                    );
                    $scope.getGroups();
                }else{
                    console.log('this group name is duplicated.');
                }    
            }
        }
    
        /* Restores The Defaults After Creating A Group */
        $scope.groupRestoreDef = function(){
            var parent = (angular.element(document.getElementById('createGroupStu')))[0].lastChild;
            var childRecords = parent.childNodes;
            for (let i = 0; i < childRecords.length; i++) {
                var record = childRecords[i];
                if(record.className === 'ng-scope'){
                    var btn = record.childNodes[7].firstChild;
                    btn.className = 'addStuBtn';
                    btn.value = 'Add To Group';
                }
            }
            $scope.newGroup = [];
            $scope.grpName = '';
        }

        /* Adds Student To Group */
        $scope.stuToGrp = function($btnData){
            var stuName = $btnData.srcElement.id;
            if(!$scope.newGroup.includes(stuName)){
                $scope.newGroup.push(stuName);
                $btnData.srcElement.className = 'rmvStuBtn';
                $btnData.srcElement.value = 'Remove From Group';
            }else{
                $scope.newGroup.push(stuName);
                $btnData.srcElement.className = 'addStuBtn';
                $btnData.srcElement.value = 'Add To Group';
                var filteredGrp = $scope.newGroup.filter((val, ind, arr) => {
                    return val != stuName;
                });
                $scope.newGroup = filteredGrp;
            }
            console.log($scope.newGroup);
        }
    
        /* Show A Single Group */
        $scope.showGrp = function($grpData){
            var grpName = $grpData.srcElement.value;
            $scope.groups.forEach(group => {
                if(group.grpName === grpName)   $scope.currGrp = group;
            });
            if(!$scope.currGrp.stds.length) $scope.currGrp.stds = 'None';
            else{
                try {
                    $scope.currGrp.stds = $scope.currGrp.stds.join(', ');
                } catch (error) {
                    console.log('something went wrong' + error)
                }    
            }
            $scope.createGroup = false;
            $scope.showGroup = true;
            $scope.showGroups = true;
        }

        $scope.getStudents();
    });

</script>

</html>